.App {
  text-align: center;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
}
/*LIST CONTAINER*/
.listContainer{
  width: 80%;
  margin: 1em 0;
}
/*TASS SETTER*/
.tassSetter{
  display: flex;
  justify-content: space-around;
  width: 100%;
  background-color: green;
  padding: 2em 0;
}
.tassSetter h1{
  color: #fff;
  margin: 0;
  font-size: 1.5em;
}
.tassSetter input{
  height: 1.5em;
  width: 10em;
  outline: none;
  padding: 1em;
  border-radius: 1em;
  border: 1px solid rgba(44, 44, 44, 0.5);
  margin-bottom: 1em;
}
.tassSetter svg{
  width: 3em;
  fill: rgba(214, 208, 208, 0.9);
  cursor: pointer;
  transition: fill 0.4s;
}
.tassSetter svg:hover{
  fill: #fff;
}